/* Element Selector */
p{
    color: grey;
}
ul{
    text-align:center;
}
ol{
    text-indent:center;
}

body{
    background-color: mediumaquamarine;
    text-align: center;
    /* color: grey; */
    margin: 100pt;
}
/* .class Selector */
.description{
    color: grey;
}

.funParagraph{
    color: green;
}
/* #id Selector */
#aboutMe{
    align-self: center;
}
#mainHeading{
    color: red;
}