/* Element Selector */
li{
    text-align:left;
}
body{
    background-color: mediumaquamarine;
    text-align: center;
    color: rgb(9, 58, 55);
    margin: 8px;
}
/* .class Selector */
.funParagraph{
    color: green;
}
/* #id Selector */
#aboutMe{
    align-self: center;
}
#mainHeading{
    color: red;
}